@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-black: #000;
  --color-white: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-l: #545454;
  --color-dark-m: #b2b2b2;
  --color-dark-s: #cdcdcd;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
  --fontArial: "Arial", sans-serif;
  --fontGeorgia: "Georgia", serif;
  --font-size1: 60px;
  --font-size2: 40px;
  --font-size3: 20px;
  --font-size4: 32px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../../assets/images/noise_lines.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, hsl(330deg, 3%, 13%), #211f20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.scroll-off {
  overflow-y: hidden;
}

.header-container {
  font-family: var(--fontArial);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  margin-top: 60px;
}

.header-container > .container {
  height: 60px;
  display: flex;
}

.header-container > .container > .logo {
  width: 188px;
}

.header-container > .container > .logo > .title {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 10px;

  color: var(--color-primary);
}

.header-container > .container > .logo > .subtitle {
  font-family: var(--fontArial);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;

  color: var(--color-white);
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 36px;
}

.nav-link {
  transition: 0.3s;
  text-decoration: none;
  color: var(--color-dark-s);
}

.nav-link:hover,
.active {
  color: var(--color-light-s);
  cursor: pointer;
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 5px;
}

.col {
  display: none;
  float: left;
}

.button-primary {
  min-width: 207px;
  height: 52px;
  padding: 15px 45px;
  background-color: var(--color-primary);
  border-radius: 100px;
  color: var(--color-dark-3xl);
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: none;
}

.button-primary:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
}

.button-primary > a {
  color: var(--color-dark-3xl);
  text-decoration: none;
}

.button-secondary {
  min-width: 207px;
  height: 52px;
  padding: 15px 45px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  color: var(--color-dark-3xl);
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button-secondary:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
  border: none;
}

.button-arrow {
  position: relative;
  width: 52px;
  height: 52px;
  top: 191px;
  left: 40px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: none;
}

.button-arrow:hover,
.button-close-hover {
  background: var(--color-primary-light);
  cursor: pointer;
  border: none;
}

.button-arrow-right {
  left: -38px;
}

.button-arrow-inactive {
  position: relative;
  width: 52px;
  height: 52px;
  top: 244px;
  border: 2px solid var(--color-dark-s);
  box-sizing: border-box;
  border-radius: 100px;
  background: none;
}

.button-arrow-inactive:hover {
  cursor: not-allowed;
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-container {
  margin-top: 60px;
}

.main-container > .container {
  padding: 0;
}

.section:first-of-type {
  padding: 0 40px;
}

.notonly-container {
  background-image: url("../../assets/images/start-screen-puppy.png");
  background-position: right;
  background-repeat: no-repeat;
  height: 728px;
}

.notonly-container > .content {
  width: 460px;
  padding-top: 163px;
}

.notonly-container > .content > h3 {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  margin: 0;
  padding-right: 100px;
  letter-spacing: 0;

  color: var(--color-white);
}

.notonly-container > .content > p {
  font-family: var(--fontArial);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin-top: 42px;
  margin-bottom: 42px;

  color: var(--color-dark-s);
}

.section:not(:first-of-type) {
  background: var(--color-light-l);
}

.section:nth-child(2n) {
  background: var(--color-white);
}

.section h3 {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0;

  color: var(--color-dark-l);
}

.about-content {
  display: flex;
  padding-top: 80px;
  padding-bottom: 96px;
}

.about-image {
  flex: 1 1 calc(42%);
  text-align: center;
  padding-left: 92px;
}

.about-texts {
  flex: 1 1 calc(100% / 2);
  padding-top: 14px;
}

.about-texts > .content {
  width: 430px;
}

.about-texts > .content > h3 {
  margin-bottom: 25px;
  width: 350px;
}

.about-texts > .content > p {
  font-family: var(--fontArial);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin: 0;

  color: var(--color-dark-xl);
}

.about-texts > .content > p:first-of-type {
  margin-bottom: 25px;
}

.pets-content,
.help-content,
.donation-content {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets-content > h3 {
  width: 400px;
  margin: auto;
  margin-bottom: 60px;
}

.pets-content > .slider {
  display: flex;
  gap: 91px;
  margin-bottom: 60px;
}

.pets-content > .slider > .slide-wrap {
  overflow: hidden;
}

.pets-content > .slider > .slide-wrap > .slide {
  position: relative;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
  display: flex;
  gap: 91px;
}

.left {
  left: -1000px;
}

.right {
  left: 1000px;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.pets-content > .slider > .slide-wrap > .slide > .card {
  width: 270px;
  height: 435px;
  background: var(--color-light-s);
  border-radius: 9px;
}

.pets-content > .slider > .slide-wrap > .slide > .card > .pets-card-title {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-top: 25px;
  margin-bottom: 30px;

  color: var(--color-dark-l);
}

.pets-content > .slider > .slide-wrap > .slide > .card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
  background: var(--color-white);
}

.pets-content > .slider > .slide-wrap > .slide > .card > .button-secondary {
  min-width: 192px;
}

.pets-content
  > .slider
  > .slide-wrap
  > .slide
  > .card:hover
  > .button-secondary {
  background-color: var(--color-primary-light);
  cursor: pointer;
  border: none;
}

.help-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-content > h3 {
  margin-bottom: 57px;
}

.help-content > .help-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  row-gap: 55px;
}

.help-content > .help-list .help-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.help-content > .help-list .help-item > h4 {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin: 0;

  color: var(--color-dark-l);
}

.donation-content {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 183px;
  padding-right: 182px;
  padding-bottom: 98px;
}

.donation-content > .content {
  text-align: left;
}

.donation-content > .content > h5 {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 20px;

  color: var(--color-dark-l);
}

.donation-content > .content > .credit-card {
  background: var(--color-primary);
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  width: 320px;
}

.donation-content > .content > .credit-card:hover {
  background: var(--color-primary-light);
}

.donation-content > .content > .credit-card > h4 {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin: 0;
  margin-left: 15px;
}

.donation-content > .content > .credit-card > h4 > a {
  color: var(--color-dark-l);
  text-decoration: none;
}

.donation-content > .content > .donation-description {
  font-family: var(--fontArial);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-top: 21px;

  color: var(--color-dark-m);
}

.footer-container > .container {
  height: 350px;
  font-family: var(--fontGeorgia);
  font-style: normal;
}

.footer-container > .container > .content {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  padding-top: 40px;
}

.footer-container > .container > .content > .contacts,
.footer-container > .container > .content > .locations {
  padding-top: 18px;
}

.footer-container > .container > .content h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0;

  color: var(--color-white);
}

.footer-container > .container > .content > .contacts > .mail {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 39px;
}

.footer-container > .container > .content > .contacts > .phone {
  display: flex;
  align-items: center;
}

.footer-container > .container > .content > .contacts img,
.footer-container > .container > .content > .locations img {
  margin-right: 20px;
}

.footer-container > .container > .content h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin: 0;

  color: var(--color-primary);
}

.footer-container > .container > .content h4 a {
  color: var(--color-primary);
  text-decoration: none;
}

.footer-container > .container > .content > .locations > .place1 {
  display: flex;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 32px;
}

.footer-container > .container > .content > .locations > .place2 {
  display: flex;
  align-items: center;
}

.adaptive-menu {
  position: fixed;
  right: -320px;
  transition: 0.5s;
  z-index: 9999;
  display: none;
  height: 100vh;
  width: 320px;
  background-color: var(--color-dark-3xl);
  margin-top: -30px;
}

.adaptive-menu .logo {
  padding-left: 10px;
  width: 188px;
}

.adaptive-menu .logo > .title {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 10px;

  color: var(--color-primary);
}

.adaptive-menu .logo > .subtitle {
  font-family: var(--fontArial);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;

  color: var(--color-white);
}

.modal {
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
}

.modal > .modal-wrap {
  position: absolute;
  left: calc(50% - 450px);
  top: calc(50% - 250px - 52px);
}

.modal > .modal-wrap > .modal-content-wrap {
  display: flex;
  width: 900px;
  min-height: 500px;
  box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
  background: var(--color-light-s);
  border-radius: 9px;
}

.modal > .modal-wrap > .button-close {
  position: relative;
  left: calc(100% - 10px);
  top: 0;
}

.modal > .modal-wrap > .modal-content-wrap > img {
  border-radius: 9px;
  width: 500px;
  height: 500px;
}

.modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap {
  padding-left: 29px;
  padding-top: 50px;
  padding-right: 20px;
  width: 400px;
}

.modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .name {
  color: var(--color-black);
}

.modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .breed {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin: 0;
  margin-top: 10px;

  color: var(--color-black);
}

.modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .description {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
  margin-top: 40px;

  color: var(--color-black);
}

.modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .list-wrap {
  font-family: var(--fontGeorgia);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
  margin-top: 40px;

  color: var(--color-black);
}

.modal
  > .modal-wrap
  > .modal-content-wrap
  > .modal-text-wrap
  > .list-wrap
  > ul {
  padding-inline-start: 19px;
  margin-block-start: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.modal
  > .modal-wrap
  > .modal-content-wrap
  > .modal-text-wrap
  > .list-wrap
  > ul
  li::marker {
  color: var(--color-primary);
}

.openModal {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header-container {
    margin-top: 30px;
  }

  .container {
    padding: 0 30px;
  }

  .section:first-of-type {
    padding: 0 30px;
  }

  .pets-content,
  .help-content,
  .donation-content {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .notonly-container {
    background-image: url("../../assets/images/start-screen-puppy2.png");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 1015px;
  }

  .notonly-container > .content {
    width: 460px;
    padding-top: 0;
    margin: auto;
  }

  .notonly-container > .content > .button-primary {
    position: relative;
    left: 127px;
  }

  .about-content {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 94px;
  }

  .about-content > .about-image {
    padding-top: 80px;
    padding-left: 0;
  }

  .about-content > .about-texts {
    padding-top: 0;
  }

  .pets-content > h3 {
    margin-bottom: 59px;
  }

  .button-arrow {
    top: 192px;
    left: 28px;
    padding-top: 0px;
    padding-bottom: 3px;
  }

  .button-arrow-right {
    left: -28px;
  }

  .pets-content > .slider {
    justify-content: center;
    gap: 40px;
  }

  .pets-content > .slider > .slide-wrap > .slide {
    gap: 40px;
  }

  .pets-content > .slider .card:nth-child(3) {
    display: none;
  }

  .help-content > .help-list {
    column-gap: 60px;
    width: 630px;
  }

  .help-content > .help-list .help-item {
    width: 170px;
  }

  .help-content > h3 {
    margin-bottom: 59px;
  }

  .donation-content {
    gap: 58px;
    padding-right: 194px;
    padding-left: 194px;
    padding-bottom: 95px;
    flex-direction: column-reverse;
  }

  .donation-content > .content {
    width: 380px;
  }

  .footer-container > .container {
    height: 639px;
  }

  .footer-container > .container > .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 61px;
    column-gap: 60px;
    padding-top: 30px;
    width: 708px;
    margin: auto;
  }

  .footer-container > .container > .content > .contacts,
  .footer-container > .container > .content > .locations {
    padding-top: 0;
  }

  .footer-container > .container > .content > .contacts {
    width: 279px;
  }

  .footer-container > .container > .content > .locations {
    width: 302px;
  }

  .footer-container > .container > .content > .contacts > .mail {
    margin-bottom: 38px;
  }

  .modal > .modal-wrap {
    left: calc(50% - 315px);
    top: calc(50% - 175px - 52px);
  }

  .modal > .modal-wrap > .modal-content-wrap {
    width: 630px;
    min-height: 350px;
  }

  .modal > .modal-wrap > .modal-content-wrap > img {
    width: 350px;
    height: 350px;
  }

  .modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap {
    padding-left: 11px;
    padding-top: 10px;
    padding-right: 9px;
    width: 260px;
  }

  .modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .description {
    font-size: 13px;
    margin-top: 20px;

    color: var(--color-black);
  }

  .modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .list-wrap {
    margin-top: 20px;
  }

  .modal
    > .modal-wrap
    > .modal-content-wrap
    > .modal-text-wrap
    > .list-wrap
    > ul {
    gap: 5px;
  }
}

@media (max-width: 767px) {
  .adaptive-menu {
    display: block;
    font-size: 32px;
    line-height: 160%;
    padding-top: 30px;
  }

  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateX(0px) translateY(10px) rotate(90deg);
    -ms-transform: translateX(0px) translateY(10px) rotate(90deg);
    -o-transform: translateX(0px) translateY(10px) rotate(90deg);
    transform: translateX(0px) translateY(10px) rotate(90deg);
  }

  #hamburger-1.is-active .line:nth-child(2) {
    -webkit-transform: translateX(10px) rotate(90deg);
    -ms-transform: translateX(10px) rotate(90deg);
    -o-transform: translateX(10px) rotate(90deg);
    transform: translateX(10px) rotate(90deg);
  }

  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateX(20px) translateY(-10px) rotate(90deg);
    -ms-transform: translateX(20px) translateY(-10px) rotate(90deg);
    -o-transform: translateX(20px) translateY(-10px) rotate(90deg);
    transform: translateX(20px) translateY(-10px) rotate(90deg);
  }

  .adaptive-menu > .col {
    float: right;
  }

  .adaptive-menu > .nav {
    display: flex;
    justify-content: center;
  }

  .adaptive-menu > .nav > .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
    padding-inline-start: 0;
    margin-block-start: 158px;
  }

  .adaptive-menu > .nav .nav-item {
    text-align: center;
  }

  .open {
    right: 0;
    animation-duration: 1s;
    animation-name: slidein;
  }

  .close {
    animation-duration: 1s;
    animation-name: slideout;
  }

  @keyframes slidein {
    from {
      right: -320px;
    }

    to {
      right: 0;
    }
  }

  @keyframes slideout {
    from {
      right: 0;
    }

    to {
      right: -320px;
    }
  }

  .open:after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
    z-index: -1;
  }

  .header-container {
    margin-top: 30px;
  }

  .container {
    padding: 0 10px;
  }

  .nav {
    display: none;
  }

  .col {
    display: block;
    float: left;
  }

  .three {
    margin-top: 11px;
    margin-right: 43px;
    margin-left: auto;
    z-index: 99999;
  }

  .row .three {
    padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #f1cdb3;
    text-align: center;
  }

  .hamburger .line {
    width: 31px;
    height: 2px;
    background-color: #f1cdb3;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .section:first-of-type {
    padding: 0 10px;
  }

  .section h3 {
    font-size: 25px;
    letter-spacing: 0.06em;
  }

  .notonly-container {
    background-image: url("../../assets/images/start-screen-puppy3.png");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 673px;
  }

  .notonly-container > .content {
    width: auto;
    padding-top: 0;
    text-align: center;
  }

  .notonly-container > .content > h3 {
    font-size: 25px;
    padding-right: 0;
    width: 200px;
    margin: auto;
    letter-spacing: 0.06em;
  }

  .about-content {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 10px;
    padding-top: 43px;
    padding-bottom: 36px;
  }

  .about-content > .about-image {
    padding-top: 42px;
    padding-left: 0;
  }

  .about-content > .about-image > img {
    width: 260px;
  }

  .about-texts {
    padding: 0 15px;
  }

  .about-texts > .content {
    text-align: center;
    width: auto;
  }

  .about-texts > .content > h3 {
    width: 250px;
    margin: auto;
    margin-bottom: 23px;
  }

  .about-texts > .content > p:first-of-type {
    margin-bottom: 22px;
  }

  .about-texts > .content > p {
    text-align: justify;
  }

  .pets-content,
  .help-content,
  .donation-content {
    text-align: center;
    padding: 0 10px;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .pets-content > h3 {
    width: auto;
    margin: auto;
    margin-bottom: 41px;
  }

  .pets-content > .slider .card:not(:first-of-type) {
    display: none;
  }

  .pets-content > .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 62px;
    margin-top: -52px;
  }

  .button-arrow {
    left: -66px;
    top: 507px;
    padding-top: 0px;
    padding-bottom: 3px;
  }

  .button-arrow-right {
    top: 20px;
    left: 66px;
  }

  .help-content {
    padding-bottom: 41px;
  }

  .help-content > h3 {
    margin-bottom: 42px;
  }

  .help-content > .help-list {
    gap: 30px;
    width: 290px;
    justify-content: unset;
  }

  .help-content > .help-list .help-item {
    width: 130px;
    gap: 20.5px;
  }

  .help-content > .help-list .help-item > img {
    width: 50px;
  }

  .help-content > .help-list .help-item > h4 {
    font-size: 15px;
    line-height: 110%;
  }

  .donation-content {
    gap: 42px;
    flex-direction: column-reverse;
    padding-bottom: 37px;
  }

  .donation-content img {
    width: 260px;
  }

  .donation-content > .content {
    text-align: center;
    width: 300px;
  }

  .donation-content > .content > h5 {
    line-height: 160%;
    letter-spacing: 0;
  }

  .donation-content > .content > .credit-card {
    width: 250px;
    margin: auto;
  }

  .donation-content > .content > .credit-card img {
    width: 30px;
  }

  .donation-content > .content > .credit-card > h4 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.05em;
  }

  .donation-content > .content > .donation-description {
    text-align: justify;
    padding: 0 10px;
    margin-top: 20px;
  }

  .footer-container > .container > .content {
    display: flex;
    justify-content: center;
    gap: 36px;
    padding-top: 30px;
    flex-direction: column;
  }

  .footer-container > .container {
    height: auto;
  }

  .footer-container > .container > .content > .contacts,
  .footer-container > .container > .content > .locations {
    padding-top: 0;
    text-align: center;
  }

  .footer-container > .container > .content h3 {
    font-size: 25px;
    width: 294px;
    margin: auto;
  }

  .footer-container > .container > .content h3 > br {
    display: none;
  }

  .footer-container > .container > .content > .contacts > .mail,
  .footer-container > .container > .content > .contacts > .phone,
  .footer-container > .container > .content > .locations > .place1,
  .footer-container > .container > .content > .locations > .place2 {
    justify-content: center;
  }

  .footer-container > .container > .content > .locations > .place1,
  .footer-container > .container > .content > .locations > .place2 {
    text-align: start;
    width: 300px;
    margin: auto;
    justify-content: start;
  }

  .footer-container > .container > .content > .contacts > .mail,
  .footer-container > .container > .content > .locations > .place1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer-container > .container > .content > img {
    width: 260px;
    margin: auto;
  }

  .modal > .modal-wrap {
    left: calc(50% - 120px);
    top: calc(50% - 170px - 52px);
  }

  .modal > .modal-wrap > .modal-content-wrap {
    width: 240px;
    min-height: 341px;
  }

  .modal > .modal-wrap > .modal-content-wrap > img {
    display: none;
  }

  .modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap {
    padding: 10px;
  }

  .modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .name,
  .modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .breed {
    text-align: center;
  }

  .modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .description {
    text-align: justify;
    margin-top: 20px;
  }

  .modal > .modal-wrap > .modal-content-wrap > .modal-text-wrap > .list-wrap {
    margin-top: 24px;
  }

  .modal
    > .modal-wrap
    > .modal-content-wrap
    > .modal-text-wrap
    > .list-wrap
    > ul {
    gap: 5px;
  }
}
